__pycache__/
/report/final_research_paper.aux
/report/final_research_paper.fdb_latexmk
/report/final_research_paper.fls
/report/final_research_paper.log
/report/final_research_paper.out
/report/final_research_paper.synctex.gz
/report/final_research_paper.toc
project.ipynb